@media (max-width: 1436px) {
  body {
    max-width: 920px;
  }
  
  #view {
    grid:
      "details"
      "daily"
      "hourly";
  }

  [role="region"].details div.overview {
    min-height: 18rem;
  }

  [role="region"].details dl > div {
    flex: none;
    width: calc((920px - 3 * var(--spacing-9)) / 4);
  }

  [role="region"].daily ul {
    flex-flow: wrap;
  }

  [role="region"].daily ul > li {
    flex: none;
    width: calc((920px - 6 * var(--spacing-7)) / 7);
  }

  [role="region"].hourly {
    width: 100%;
  }
}

@media (max-width: 600px) {
  body {
    padding: var(--spacing-7);
  }

  #search form {
    grid: repeat(2, 3.5rem) / auto;
    height: unset;
  }

  [role="region"].daily ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc((920px - 6 * var(--spacing-7)) / 7));
    justify-content: center;
  }
}

@media (max-width: 500px) {
  [role="region"].details p.date {
    font-size: 1rem;
  }

  [role="region"].details img.condition {
    height: 5rem;
  }

  [role="region"].details p.temperature {
    font-size: 4rem;
  }

  [role="region"].details dl {
    justify-items: center;
  }
}

@media (max-width: 400px) {
  header#banner img.logo {
    height: 2rem;
  }

  [role="region"].details dt {
    font-size: .9rem;
  }
  
  [role="region"].details dd {
    font-size: 1.5rem;
  }
  
  [role="region"].hourly {
    grid: auto auto 1fr / auto;
  }

  [role="region"].hourly ul {
    grid-column: unset;
  }
}
