@layer unset, global, components, conditionals, override;

@import "/src/styles/global.css" layer(global);
@import "/src/styles/components.css" layer(components);
@import "/src/styles/conditionals.css" layer(conditionals);
@import "/src/styles/override.css" layer(override);

@layer unset {
  h1, h2, h3, h4, h5, h6 {
    margin: unset;
  }

  p {
    margin: unset;
  }

  ol, ul, menu {
    margin: unset;
    padding: unset;
  }

  dl, dt, dd {
    margin: unset;
  }

  button {
    background: unset;
    border: unset;
    color: unset;
    font: unset;
    padding: unset;
  }

  input {
    background: unset;
    border: unset;
    color: unset;
    font: unset;
    padding: unset;

    &::placeholder {
      color: unset;
      font: unset;
    }
  }

  select {
    border: unset;
    color: unset;
    font: unset;
    padding: unset;

    &::picker-icon {
      margin: unset;
    }

    &::picker(select) {
      color: unset;
    }
  }

  option {
    color: unset;
    font: unset;
    outline: unset;

    &::checkmark {
      content: unset;
    }
  }

  [popover] {
    border: unset;
    color: unset;
    margin: unset;
  }
}
